@import "../../CSS/variables.css";

.container {
  grid-template-areas: none;
  display: grid;
  gap: var(--grid-gap);
  /* grid-template-rows: auto; */
  grid-template-columns: 33% 33% auto;

  grid-template-areas:
    "select CarParkMap CarParkMap"
    "ColorKey CarParkMap CarParkMap"
    "a CarParkMap CarParkMap"
    "a CarParkMap CarParkMap"
    "SectionExample SectionExample SectionExample"
    "CouncilLinks CouncilLinks CouncilLinks";
}
.CarParkMap {
  grid-area: CarParkMap;
}
.select {
  grid-area: select;
}
.option {
  padding: 18px;
}
.ColorKey {
  grid-area: ColorKey;
}
.SectionExample {
  grid-area: SectionExample;
}
.CouncilLinks {
  grid-area: CouncilLinks;
}

.calloutContainer {
  font-family: lato !important;

  grid-area: a;

  color: var(--black);
  background-color: var(--color-light-grey);
  border-radius: var(--border-radius);
  border: 1px solid #dfdfdf;
}

.calloutHeadText {
  font-family: lato !important;

  /* color: #ffffff; */
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  padding: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.calloutText {
  font-family: lato !important;
  /* color: #ffffff; */
  font-style: normal;
  font-weight: bold;
  /* font-size: 48px; */
  /* line-height: 60px; */
  padding: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.selectbox {
  position: relative;
  /* width: 100%; */
  height: 48px;
}

.selectbox::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: 0.7rem;
  width: 0;
  height: 0;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.selector {
  border: 1px solid #eee;
  border-radius: 0.25rem;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  display: flex;
  background-color: white;
  outline: 0;
  cursor: pointer;
  appearance: none;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 400;
  font-family: "Europa-Bold";
  background: var(--color-light-grey);
  background: var(--color-light-grey);
  border-radius: var(--border-radius);
}

.selector:focus {
  background-color: #eee;
}

@media only screen and (max-width: 1025px) {
  .container {
    grid-template-areas: none;
    display: flex;
    flex-direction: column;
  }
  .topContainer {
    display: grid;
    gap: var(--grid-gap);
  }
}
