@import "../../CSS/variables.css";

.container {
  /* width: 100%; */
  grid-template-areas: none;
  display: grid;
  gap: var(--grid-gap);

  grid-template-rows: auto 1fr 1fr auto;
}

@media only screen and (max-width: 1025px) {
  .container {
    /* width: 100%; */

    grid-template-areas: none;
    display: flex;
    flex-direction: column;
    /* margin: 0 18px; */
  }
}
