@import "../../CSS/variables.css";

.container {
  display: grid;
  gap: var(--grid-gap);
}

.topFont {
  font-size: 32px;
}
.image {
  border-radius: var(--border-radius);

  object-fit: contain;
  background-size: cover;
  height: 350px;
  background-position: center;
}
