.tellUsMore {
  margin: 0;
  position: absolute;
  position: fixed;
  right: 28px;
  bottom: 28px;
  z-index: 1;
  background-color: white;
  opacity: 0.9;
  border-radius: var(--border-radius);
  width: 300px;
  height: 163px;
  line-height: 163px;
  text-align: center;
  font-size: 44px;
  text-decoration: none;
  color: var(--color-black);
  line-height: 163px;
  text-align: center;
  font-size: 31px;
}
.tellUsMore a {
  text-decoration: none;
  color: var(--color-black);
  line-height: 163px;
  text-align: center;
  font-size: 31px;
}
.tellUsMore button {
  position: fixed;
  bottom: 140px;
  right: 35px;
  line-height: 15px;
  padding: 15px;
  margin: 0;
  cursor: pointer;

  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 31px;
}

@media only screen and (max-width: 830px) {
  .tellUsMore {
    height: 15vw;
    width: 35vw;
  }
  .tellUsMore a {
    position: absolute;
    left: 0;
    right: 0;
    /* top: 3.5vw; */
    top: 0;
    bottom: 0;
    width: 35vw;
    height: 15vw;
    line-height: 15vw;
    font-size: 3.5vw;
  }
  .tellUsMore button {
    display: none;
  }
}
