.calloutQuiet {
  width: 442px;
  height: 889px;
  border-radius: 8px;
  background: #00b67b;
  display: flex;
  flex-direction: column;
}

.calloutText {
  color: #ffffff;
  font-family: "Lato";
  /* font-style: normal; */
  /* font-weight: bold; */
  font-size: 48px;
  line-height: 60px;
  padding: 32px;
  /* or 125% */
  /* width: 100%; */
  height: 100%;
}

.calloutIconContainer {
  /* width: 100%; */
  /* height: 100%; */
  padding-bottom: 50px;
}

.calloutIcon {
  margin-left: 50px;
  /* width: 100%; */
  /* margin-right: 50px; */

  /* height: 100%; */
  /* margin: 55px    ; */
}

.calloutIconRoad {
  border-top: 2.5px solid white;
  margin-top: -5px;
}
