@import "../../CSS/variables.css";

.calloutQuiet {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  background: #00b67b;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.calloutText {
  color: #ffffff;
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  padding: 32px;
}



.calloutIcon {
  margin-left: 50px;
}

.calloutIconRoad {
  border-top: 2.5px solid white;
  margin-top: -5px;
}
