@import "../../CSS/variables.css";

.calloutContainer {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: lato !important;
}

.calloutText {
  font-family: lato !important;

  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  padding: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.calloutIcon {
  margin-left: 50px;
}

.calloutIconRoad {
  border-top: 2.5px solid white;
  margin-top: -5px;
}
.image {
  margin-top: auto;
  margin-bottom: 40px;
  width: 100%;
  height: auto;
  /* height: 100%;
  width: 130%;
  min-width: 400px;
  min-height: 500px;
  bottom: 40px; */
}
.red {
  background-color: #fc4c56;
}

.red h1 {
  color: #fff0f1;
}

.orange {
  background-color: #f3984c;
  color: #fff0f1;
}
.green {
  background-color: #1bb57d;
  color: #fff0f1;
}
@media only screen and (max-width: 1025px) {
  .image {
    display: none;
  }
}
