@import "../../CSS/variables.css";

.calloutContainer {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.calloutText {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  padding: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.calloutIcon {
  margin-left: 50px;
}

.calloutIconRoad {
  border-top: 2.5px solid white;
  margin-top: -5px;
}

.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.green {
  background-color: green;
}
