@import "../../CSS/variables.css";
.container {

  gap: var(--grid-gap);
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-rows: 48px auto 239px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-template-areas:
    "selectbox  RoadsCameraFeed RoadsCameraFeed"
    "RoadsLookingBusy RoadsCameraFeed RoadsCameraFeed"
    "RoadsLookingBusy WalkingOrCycling CycleParking";
}
.RoadsCameraFeed {
  grid-area: RoadsCameraFeed;
}
.RoadsLookingBusy {
  grid-area: RoadsLookingBusy;
}

.WalkingOrCycling {
  grid-area: WalkingOrCycling;
}

.CycleParking {
  grid-area: CycleParking;
}

.selectbox {
  grid-area: selectbox;

  position: relative;
  width: 100%;
  height: 48px;
}

.selectbox::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: 0.7rem;
  width: 0;
  height: 0;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.selector {
  border: 1px solid #eee;
  border-radius: 0.25rem;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  display: flex;
  background-color: white;
  outline: 0;
  cursor: pointer;
  appearance: none;
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  border-radius: var(--border-radius);
}
