@import url("https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;500&display=swap");
@import url(https://use.typekit.net/xos0ytw.css);

@import url("https://p.typekit.net/p.css?s=1&k=xos0ytw&ht=tk&f=15528.15529.15530.17251.17252.17253.15930.17970.6812.6817&a=11136975&app=typekit&e=css");

@font-face {
  font-family: "Europa-Bold";
  src: url("https://use.typekit.net/af/ebcd51/00000000000000007735a081/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/ebcd51/00000000000000007735a081/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/ebcd51/00000000000000007735a081/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "europa";
  src: url("https://use.typekit.net/af/40cfbf/00000000000000007735a08f/30/l?subset_id=2&fvd=i4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/40cfbf/00000000000000007735a08f/30/d?subset_id=2&fvd=i4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/40cfbf/00000000000000007735a08f/30/a?subset_id=2&fvd=i4&v=3")
      format("opentype");
  font-display: fallback;
  font-style: italic;
  font-weight: 400;
}

.tk-europa {
  font-family: "europa", sans-serif;
}
.tk-quicksand {
  font-family: "quicksand", sans-serif;
}
.tk-minion-pro-condensed-caption {
  font-family: "minion-pro-condensed-caption", serif;
}
.tk-minion-pro {
  font-family: "minion-pro", serif;
}

/* @font-face {
  font-family: "Lato";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;

  src: url("https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;500&display=swap");
} */
/* @font-face {
  font-family: "Europa-Bold";
  src: url("//db.onlinewebfonts.com/t/d3bfee78e8ead45d9057a95bb6ff5de8.eot");
  src: url("//db.onlinewebfonts.com/t/d3bfee78e8ead45d9057a95bb6ff5de8.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/d3bfee78e8ead45d9057a95bb6ff5de8.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/d3bfee78e8ead45d9057a95bb6ff5de8.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/d3bfee78e8ead45d9057a95bb6ff5de8.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/d3bfee78e8ead45d9057a95bb6ff5de8.svg#Europa-Bold")
      format("svg");
}
@font-face {
  font-family: "Europa";
  src: url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.eot");
  src: url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.svg#Europa")
      format("svg");
} */

body {
  font-family: "Europa-Bold";
  font-size: 16px;

  margin: 0;
}

h1 {
  font-family: "Europa-Bold";
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
}
h2 {
  font-family: "Europa-Bold";
  font-size: 1.9375em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
}
h3 {
  font-family: "Europa-Bold";
  font-size: 1.5625em !important;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  margin-bottom: 16px;
  margin-top: 0;
}
p {
  font-family: "Europa" !important;
  font-size: 20px;
  line-height: 37.5px;
  font-weight: 400;
}

p:first-of-type {
  margin-top: 0;
}

a {
  color: #2e4a99;
}

@media only screen and (max-width: 1025px) {
  h1 {
    font-family: Lato;
    font-size: 2.4375em !important;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
  }
  h2 {
    font-family: Lato;
    font-size: 1.9375em !important;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
  }
  h3 {
    font-family: Lato;
    font-size: 1.4375em !important;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
  }
  p {
    font-size: 1.1875em !important;
    line-height: 30px !important;
    letter-spacing: 0em;
  }
}
