@font-face {
  font-family: "Europa-Bold";
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  src: url("../../fonts/Europa\ Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;

  src: url("../../fonts/Lato-Regular.ttf") format("woff2");
}

body {
  font-family: "Europa-Bold";

  margin: 0;
}
