:root {
  --color-black: #000000;
  --color-light-grey: #f8f8f8;
  --color-dark-grey: #333333;
  --color-white: #ffffff;
  --border-radius: 8px;
  --font-16: 16px;
  --font-18: 18px;
  --font-20: 20px;
  --font-24: 24px;
  --font-25: 25px;
  --font-31: 31px;
  --font-36: 36px;
  --font-Family-Primary: Europa-Bold;
  --font-Family-Secondary: lato;
  --grid-gap: 32px;
}
