.container1 {
  width: 100%;

  grid-template-areas: none;
  display: grid;
  gap: 32px;

  grid-template-columns: 33% auto auto;
  /* grid-template-rows: auto auto auto auto; */
  grid-template-areas:
    ". . . "
    ". . . "
    "RoadClosureAroundTown LocalRoadUpdates LocalRoadUpdates "
    "SectionExample SectionExample SectionExample"
    "CouncilLinks CouncilLinks CouncilLinks";
}

.containerSR {
  width: 100%;

  grid-template-areas: none;
  display: grid;
  gap: 32px;

  grid-template-columns: 33% auto auto;
  /* grid-template-rows: auto auto auto auto; */
  grid-template-areas:
    ". . . "
    ". . . "
    "RoadClosureAroundTown LocalRoadUpdates LocalRoadUpdates "
    "SectionExample SectionExample SectionExample"
    "CouncilLinks CouncilLinks CouncilLinks";
}



.RoadClosureAroundTown {
  grid-area: RoadClosureAroundTown;
}
.LocalRoadUpdates {
  grid-area: LocalRoadUpdates;
}



.HowBusyAreRoads {
  grid-area: HowBusyAreRoads;
}
.HowBusyAreBuses {
  grid-area: HowBusyAreBuses;
}
.SectionExample {
  grid-area: SectionExample;
}
.CouncilLinks {
  grid-area: CouncilLinks;
}



//nav
.NavSubLinkItem {
  width: 100%;
  height: 100%;
}
.NavSubLink {
  height: 100%;
  margin-left: 21px;
  cursor: pointer;
}
