.containerFF {
  width: 100%;
  grid-template-areas: none;
  display: grid;
  gap: 32px;
  grid-template-columns: 33% auto auto;
  grid-template-areas:
    "Callout CameraFeed CameraFeed "
    "Callout CameraFeed CameraFeed "
    "Callout HowBusyAreBuses HowBusyAreRoads "
    "SectionExample SectionExample SectionExample"
    "CouncilLinks CouncilLinks CouncilLinks";
}

.containerSR {
  width: 100%;

  grid-template-areas: none;
  display: grid;
  gap: 32px;

  grid-template-columns: 33% auto auto;
  /* grid-template-rows: auto auto auto auto; */
  grid-template-areas:
    "VisitCitySafetly WazeMap WazeMap "
    "VisitCitySafetly WazeMap WazeMap "
    "VisitCitySafetly WazeMap WazeMap "
    "SectionExample SectionExample SectionExample"
    "CouncilLinks CouncilLinks CouncilLinks";
}

.Callout {
  grid-area: Callout;
}
.CameraFeed {
  grid-area: CameraFeed;
}
.HowBusyAreRoads {
  grid-area: HowBusyAreRoads;
}
.HowBusyAreBuses {
  grid-area: HowBusyAreBuses;
}
.SectionExample {
  grid-area: SectionExample;
}
.CouncilLinks {
  grid-area: CouncilLinks;
}

.VisitCitySafetly {
  grid-area: VisitCitySafetly;
}
.WazeMap {
  grid-area: WazeMap;
}

.NavSubLinkItem {
  width: 100%;
  height: 100%;
}
.NavSubLink {
  height: 100%;
  margin-left: 21px;
  cursor: pointer;
}
