@import "../../CSS/variables.css";

.container {
  width: 100%;
  grid-template-areas: none;
  display: grid;
  gap: var(--grid-gap);

  grid-template-columns: 33% auto auto;
  grid-template-areas:
    "Callout CameraFeed CameraFeed "
    "Callout CameraFeed CameraFeed "
    "Callout HowBusyAreBuses HowBusyAreRoads "
    "SectionExample SectionExample SectionExample"
    "CouncilLinks CouncilLinks CouncilLinks";
}

.Callout {
  grid-area: Callout;
}
.CameraFeed {
  grid-area: CameraFeed;
}
.HowBusyAreRoads {
  grid-area: HowBusyAreRoads;
}
.HowBusyAreBuses {
  grid-area: HowBusyAreBuses;
}
.SectionExample {
  grid-area: SectionExample;
}
.CouncilLinks {
  grid-area: CouncilLinks;
}

@media only screen and (max-width: 1025px) {
  .container {
    /* width: 100%; */

    grid-template-areas: none;
    display: flex;
    flex-direction: column;
    /* margin: 0 18px; */
  }
}
