.callout {
  width: 442px;
  height: 889px;
  background: #ff4a51;
  border-radius: 8px;
}

.calloutText {
  color: #ffffff;
  font-family: "Lato";
  /* font-style: normal; */
  /* font-weight: bold; */
  font-size: 48px;
  line-height: 60px;
  padding: 32px;
  /* or 125% */
}
/* 
.calloutIconContainer{

    width: 100%;
    height: 100%;
} */
.calloutIcon {
  width: 50%;
  /* height: 100%; */
  /* margin: 55px    ; */
}
