@import "../../CSS/variables.css";
.container {
  height: 112px;
}
.titlecontainer {
  display: flex;
  flex-direction: column;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
}
.title {
  font-size: 36px;
  margin: 0;
}
.Tagline {
  margin: 0;
  font-size: 18px;
}

.bottom {
  display: flex;
  align-items: center;
  padding: 0 23px;
}

.nav {
  width: 100%;
  height: 100%;
  height: 112px;
  line-height: 36px;
}

.NavLinkList {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  white-space: nowrap;
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
}

.linkList {
  width: 100%;
  text-align: right;
  padding: 0%;
  display: inline;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
}

/* mobile  */
.mobileNav {
  line-height: 112px;

  z-index: 2;
}
.mobile_Burger_menu {
  z-index: 2;
}

.exit_button {
  background-repeat: no-repeat;
  background-size: contain;
  height: 4.8rem;
  position: absolute;
  right: 3rem;
  width: 4.8rem;
  z-index: 3;
}
/* responsive */

@media only screen and (max-width: 1025px) {
  .nav {
    display: none;
  }
  /* .linkList {
    display: none;
  } */
}

@media only screen and (max-width: 350px) {
  .mobileNav {
    position: fixed;
    right: 25px;
    top: 20px;
    background-color: black;
    line-height: 0;
    padding: 5px;
    border-radius: var(--border-radius);
  }
}
@media only screen and (min-width: 1026px) {
  .mobileNav {
    display: none;
    margin-left: auto;
  }
}
