@import "../../CSS/variables.css";

.top {
  background: rgba(0, 0, 0, 0.05);
  border-radius: var(--border-radius) var(--border-radius) 0 0;

  display: flex;
  padding: 10px 24px 10px 24px;
}

.logoContainer {
  background: rgba(160, 114, 114, 0.05);
  border-radius: var(--border-radius);
}

.logoList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-flow: wrap;
}

.logoItem {
  margin: 10px;
}

.bottom {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0 0 var(--border-radius) var(--border-radius);

  display: grid;

  text-align: center;

  padding: 0 23px 0 23px;

  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  font-size: 3vw;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  padding: 0;
}

.bottomText {
  margin: 0;
  padding: 0;
}
.emojicon {
  margin: 0;
}
.link {
  text-decoration: none;
  color: var(--color-dark-grey);
}
