@import "../../CSS/variables.css";
.container {
  grid-template-areas: none;
  display: grid;
  gap: var(--grid-gap);
  grid-template-rows: auto;
}
.ColorKey {
  display: flex;
  align-items: center;
  margin-left: auto;
}
@media only screen and (max-width: 1025px) {
  .container {
    grid-template-areas: none;
    display: flex;
    flex-direction: column;
  }
}
