@import "../../CSS/variables.css";
.container {
  grid-template-areas: none;
  display: grid;
  gap: var(--grid-gap);
  grid-template-rows: auto;
  grid-template-areas: auto;
}

.ColorKey {
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.middleContainer {
  display: grid;
  gap: var(--grid-gap);
  grid-template-areas:
    "ColorKey b b"
    "a b b";
  grid-template-columns: 33% auto auto;
}
.calloutContainer {
  font-family: lato !important;

  grid-area: a;

  height: 100%;
  background-color: aqua;
  color: var(--black);
  background-color: var(--color-light-grey);
  border: 1px solid #dfdfdf;

  border-radius: var(--border-radius);
}
.calloutText {
  font-family: lato !important;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  line-height: 125%;
  padding: 32px;
}
.BusMap {
  grid-area: b;
}
.Innercontainer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--grid-gap);
}

@media only screen and (max-width: 1025px) {
  .container {
    grid-template-areas: none;
    display: flex;
    flex-direction: column;
  }
  .Innercontainer {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    gap: var(--grid-gap);
  }

  .middleContainer {
    display: grid;
    gap: var(--grid-gap);
    grid-template-areas:
      "a"
      "ColorKey"
      "b";
    grid-template-rows: auto auto 600px;
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 500px) {
  .ColorKey {
    margin: auto;
  }
}
