.SectionExample {
  display: grid;
  gap: var(--grid-gap);
}

.topFont {
  font-family: Lato;
  font-size: 32px;
  font-weight: 900;
  color: white;
}

.container {
  display: grid;
  grid-auto-flow: column;
  gap: var(--grid-gap);
}

.image {
  border-radius: var(--border-radius);
  margin-bottom: 24px;
  object-fit: contain;
  background-size: cover;
  height: 350px;
  background-position: center;
}

@media only screen and (max-width: 1025px) {
  .OuterContainer {
    display: flex;
    flex-direction: column;
  }

  .container {
    grid-auto-flow: row;
  }

  .topFont {
    font-size: 48px;
  }
}
