.image {
  /* border-radius: var(--border-radius);
  max-width: 100%;
  height: auto;
  height: 720px;
  object-fit: contain;
  background-size: cover;
  background-position: center; */


  border-radius: var(--border-radius);
  max-width: 100%;
  height: auto;
}
.imagePlaceholder {
  width: 1280px;
  height: 720px;
}
@media only screen and (max-width: 1025px) {
  .imageContainer {
    width: auto;
    height: auto;
  }
}
