@import "../../CSS/variables.css";

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.95);
  overflow-x: hidden;
  margin: 0;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subnavLinkItemText {
  padding: 18px;
  line-height: normal;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 36px;
  display: block;
  transition: 0.3s;
}
.activesubnavLinkItemText {
  background-color: var(--color-dark-grey);
}
