@import "../../CSS/variables.css";

.CouncilLinks {
  display: grid;
  gap: var(--grid-gap);
  grid-template-areas:
    "topContainer topContainer topContainer"
    "LeftContainer MiddleContainer RightContainer";
}

.heading {
  font-size: 32px;
}
.topContainer {
  grid-area: topContainer;
}

.LinkBox {
  background-color: var(--color-light-grey);
  color: black;
  font-weight: normal;
  text-decoration: none;
  padding: 32px;
  border-radius: var(--border-radius);

  display: grid;
  gap: 18px;
}
.subHeading {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
  justify-content: space-between;
}
.subHeadingText {
  font-size: 25px;
  margin: 0;
}

.bottomText {
  font-size: 20px;
}
@media only screen and (max-width: 1025px) {
  .CouncilLinks {
    display: flex;
    flex-direction: column;
  }
}
