.CouncilLinks {
  /* width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; */
  /* background-color: aqua; */

  /* margin: 24px 32px 24px 32px; */
  display: grid;
  gap: 32px;
  /* grid-template-rows: auto auto auto auto ;  */
  /* refine this */
  /* grid-template-columns: auto auto ; */
  grid-template-areas:
    "topContainer topContainer topContainer"
    "LeftContainer MiddleContainer RightContainer";
}

.heading {
  font-size: 32px;
}
.topContainer {
  grid-area: topContainer;
}


.LinkBox {
  background-color: #f8f8f8;
  color: black;
  font-weight: normal;
  text-decoration: none;
  padding: 32px;
  border-radius: 8px;

  display: grid;
  gap: 18px;
}
.subHeading {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
  justify-content: space-between;
}
.subHeadingText {
  font-size: 25px;
  margin: 0;
}
.IconArrow {
}
.bottomText {
  font-size: 20px;
}
