.top {
  background-color: black;
  height: 112px;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
  padding: 0 23px 0 23px;
}

.bottom {
  background-color: #f2f2f2;
  border-radius: 0 0 8px 8px;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 23px 0 23px;
}

.title {
  width: 100%;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
}

.nav {
  width: 100%;
  height: 100%;
  text-align: right;
}

.location {
  font-family: "Europa-Bold";
  font-family: europa, sans-serif;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height */
  padding-left: 8px;

  color: #333333;
}

.linkList {
  width: 100%;
  /* height: 100%; */
  text-align: right;
  padding: 0%;
}
.linkListItem {
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height */
  padding-left: 41px;
}

/* mobile  */

.mobile_Burger_menu {
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  background-color: transparent;
  border: 0;
  /* background-image: url(../../assets/icons/icon_mobileNavButton.svg); */
  background-repeat: no-repeat;
  background-size: contain;
  height: 2.4rem;
  margin: 0 0 0 auto;
  width: 3.2rem;
  z-index: 2;
}

.exitbutton {
  -webkit-appearance: button;
  background-color: transparent;
  border: 0;
  /* background-image: url(../../assets/icons/icon_closeMenu.svg); */
  background-repeat: no-repeat;
  background-size: contain;
  height: 4.8rem;
  position: absolute;
  right: 3rem;
  top: 5rem;
  width: 4.8rem;
  z-index: 2;
}
/* responsive */

@media only screen and (max-width: 1025px) {
  .nav {
    display: none;
  }
  .linkList {
    display: none;
  }
}
@media only screen and (min-width: 1026px) {
  .mobileNav {
    display: none;
  }
}
