/* container.js */

.container {
  margin: 24px 32px 24px 32px;
  display: grid;
  gap: 32px;

  /* grid-template-columns: 1fr 3fr; */

  grid-template-areas:
    "header"
    "content"
    "footer";
}

/* layout.js */

.top {
  /* grid-area: 'header'; */
  grid-area: 'header';
}
.middle {
  grid-area: content;
  display: grid;
  /* grid-gap: 10px; */
  grid-template-columns: 1fr 1fr;


}

.trafficFeed {
  width: 100%;
  height: 100%;
}
.bottom {
  grid-area: "footer";
}

@media only screen and (max-width: 1025px) {
  .desktopNavigation {
    display: none;
  }
}
@media only screen and (min-width: 1025px) {
  .mobileNavigation {
    display: none;
  }
}
