.top {
  background-color: black;
  height: 112px;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
  padding: 0 23px 0 23px;
}

.bottom {
  background-color: #f2f2f2;
  border-radius: 0 0 8px 8px;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 23px 0 23px;
}

.title {
  width: 100%;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
}

.nav {
  width: 100%;
  height: 100%;
}

.location {
  font-family: "Europa-Bold";
  font-family: europa, sans-serif;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height */
  padding-left: 8px;

  color: #333333;
}



.linkList{
  width: 100%;
  text-align: right;


}
.linkListItem{

text-decoration: none;
font-size: 18px;
line-height: 18px;
/* identical to box height */
padding-left: 41px;

}
