@import "../../CSS/variables.css";

.calloutContainer {
  font-family: lato !important;

  border-radius: var(--border-radius);
  color: var(--black);
  background-color: var(--color-light-grey);
  border: 1px solid #dfdfdf;

  
}

.calloutText {
  font-family: lato !important;

  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  line-height: 125%;
  padding: 32px;
}
