@import "../../CSS/variables.css";

.Container {
  display: flex;
  align-items: center;
  padding: 0 23px 0 23px;
  color: #ffffff;
  /* height: 100%; */
  /* width: 100%; */
}

.Backgroundblack {
  background-color: #000000;
}

.Backgroundgrey {
  background-color: var(--color-light-grey);
}
.Backgroundwhite {
  background-color: #ffffff;
}

.Fontblack {
  color: #000000;
}
.Fontgrey {
  color: var(--color-light-grey);
}
.Fontwhite {
  color: #ffffff;
}

.borderRadiusFull {
  border-radius: var(--border-radius);
}
.borderRadiusTop {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.borderRadiusBottom {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
