
.navLinkItems {
    /* width: 100%; */
    height: 100%;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    display: flex;
  }
  
  .navLinkItemsGrey {
    /* width: 100%; */
    height: 100%;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    border-bottom: 5px solid #F2F2F2;

  }
  
  .navLinkItemText {
    align-self: center;
    padding: 0 18px;
  }