@import "../../CSS/variables.css";

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  /* z-index: 1 !important; */
}
.leafletcontainer {
  z-index: 0 !important;
}
