@import "../../CSS/variables.css";

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  position: relative;
}
.leafletcontainer {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  z-index: 0 !important;
  position: relative !important;
}
.search {
  position: absolute;
  margin: 18px;

  z-index: 1;
}
.Popup {
  bottom: 10px !important;
}
