.busmarker {
  font-size: 12px;
  line-height: 38px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.busmarker {
  text-align: center;
  position: relative;
  margin: auto;
}


.busmarker p {
  font-size: 12px;
  line-height: 38px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
}

