.carparkspacesmap {
  font-size: 12px;
  line-height: 38px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.carparkmarker {
  text-align: center;
  position: relative;
}
.carparkmarker img {
  height: 60px !important;
  width: 60px !important;
}

.carparkmarker span {
  font-size: 12px;
  line-height: 38px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.carparkmarker{

    
}