@import "../../CSS/variables.css";

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
}

.spaces {
  font-size: 12px;
  line-height: 60px;
  position: absolute important!;
  top: 0;
  left: 0;
  right: 0;
}

.carparkmarker {
  text-align: center;
  position: relative;
}

.popup {
  position: absolute !important;
  bottom: 35px !important;
}
