@import "../../CSS/variables.css";

.LinkBox {
  padding: 32px 41px;
}
.subHeading {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
  justify-content: space-between;
}
.subHeadingText {
  font-size: 25px;
  margin: 0 0 24px 0;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
}

.contentText {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
